.contact-container {
    background: url('/src/images/contact.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    top: 50px;
}

.contact-textbox {
background-color:aliceblue;
height:max-content;
position: relative;

}
.contact-headline {
    color: #f98817;
    text-shadow: 2px -2px #f34300;
    font-size: 65px;
    margin-left: 10px;
    height: 60px;
    position: absolute;
    width: 260px;
    word-break: keep-all;
    right: 70px;
    top: 90px;
    line-height: 1.5;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: .1px;
    
}

.contact-intro {
    position: relative;
    word-break: keep-all;
    top: 67px;
    right: 1px;
    line-height: 1.3;
    align-items:center;
   
}

.contact-text{
    color:#f98817;
    font-size: 20px;
    text-align:center;
    position: absolute;
    top: 150px;
    right:-320px;
    width: 500px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 14px;
    padding: 15px;
    word-break: break-word;
}

