.ex-upper-lower-works-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin:auto 100px;
    animation: moveInUp 3s ease-out;
}

@keyframes moveInUp {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    80%{
        transform: translate(-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
    