.footer-container {
    background-color: #f98817;
    height: fit-content;
    align-items: center;
    font-size: 15px;
    position: relative;
    /* max-height: 200px; */
}

.footer-container-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
}

/* Sections */
.footer-container-content .footer-intro-section {
    color:black;
    font-size: 11px;
    /* position: absolute; */
    /* width: 350px; */
    width: 33%;
    word-break: keep-all;
    text-align: justify;
    top: 40px;
    left: 40px;
    line-height: 1.2;
    padding: 0 2rem;
}

.footer-container-content .footer-freetrial-section {
    /* position: absolute; */
    /* left: 970px; */
    width: 33%;
    text-align: center;
}

.footer-icon-section {
    width: 33%;
    text-align: center;
}

/* End section */

.free-button {
    color: white;
    top: 18px;
    right: 26px;
    border: 6px;
    border-radius: 14px;
    background-color:#f34300;
    height: 25px;
    width: 60px;
    /* position: absolute; */
    left: 200px;
    }

.footer-free-headline{
    color:black;
    font-size: 13px;
    top: 15px;
}    

.footer-input{
    width: 200px;
}


.footer-icon {
    color:black;
    font-size: 13px;
    width: 350px;
    word-break: keep-all;
    text-align: center;
    top: 1px;
    right: 410px;
    line-height: 1.2;
}

.footer-copyright{
    color:black;
    font-size: 11px;
    text-align: center;
}


@media screen and (max-width: 760px) {
    .footer-container-content .footer-intro-section {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .footer-container-content .footer-icon-section {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .footer-container-content .footer-freetrial-section {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}