.upper-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 100vh
}
  
    .upper-title {
      font-size: 40px;
      margin-bottom: 25px;
      color: #f98817;
      text-align: center
    }
  
    .upper-work-each {
      display: flex;
      justify-content:space-evenly;
      color: white;
    }
  
  