.upper-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 100vh
}
  
    .upper-title {
      font-size: 28px;
      margin-bottom: 25px;
      color: #f98817;
    }
  
    .upper-work-each {
      display: flex;
      justify-content: space-between;
      color: white;
    }
  
  