.main-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.main-container {
    /*background: url('/src/images/main.jpg') center center/cover no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    top: 50px;
}

.main-textbox {
background-color:aliceblue;
height:max-content;
position: relative;

}
.main-headline {
    color: #f98817;
    text-shadow: 2px -2px #f34300;
    font-size: 50px;
    margin-left: 10px;
    height: 60px;
    position: absolute;
    width: 252px;
    word-break: keep-all;
    right: 240px;
    top: 50px;
    line-height: 1.5;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: .1px;
    
}

.main-line {
    border-left: 1px solid white;
    position: absolute;
    height: 250px;
    display: block;
    left: -230px;
    top: 30px;
}

.main-intro {
    color:white;
    font-size: 13px;
    position: absolute;
    width: 200px;
    word-break: keep-all;
    text-align: center;
    top: 67px;
    right: 1px;
    line-height: 1.3;
}

.main-button {
color: white;
position: absolute;
top: 220px;
right: 26px;
border: 6px;
border-radius: 14px;
background-color: #f98817;
height: 40px;
width: 150px;
}

