.navbarItem {
background-color:black;
height: fit-content;
display: flex;
align-items:flex-start;
font-size: 15px;
position:relative;
justify-content:flex-end;
list-style: none;
}

.navbar-logo{
    color: white;
    font-size: 19px;
    margin-left: 10px;
    cursor: pointer;
    color: #f98817;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.5px;
    position: absolute;
    height: 50px;
}

.fa-dumbbell{
    position: absolute;
    left: 20px;
    bottom: 40px;
    font-size: 30px;
    color: #f98817;

}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-inline-start: 250px;
}



.fa-bars, .fa-times {
    color: white;
}

.menu-icon {
    display: none;
}

@media screen and (max-midth: 740px){
    .navbarItem{
        position: relative;
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position:fixed;
    background-color:rgba(66, 62, 62, 0.568);
    z-index: 50; /* -1, 0, 1, 10, 20, 50, 999*/
} 


.nav-menu.active {
    background-color:#f98817;
    left:0;
    opacity: 1;
    transition: all 0.5 ease;
}

.nav-links {
text-align: center;
padding: 2rem;
width: 100%;
display: table;
color: white;
text-decoration: none;
}

.nav-links:hover{
    color: #f98817;
    border-radius: 0;
    border: none;
}

.navbar-logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
}

.menu-icon{
    display:table-column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}


/* MOBILE NAV STYLES */
.mobile-nav-items {
    list-style: none;
}